@inherits Umbraco.Web.Mvc.UmbracoViewPage<RealHomes.Models.MembershipLoginCMSModel>
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers
@using RealHomes;
@using RealHomes.Models;
@{
    //If sombody already logged in and this page was requested directly.
    if (!Members.IsLoggedIn())
    {
        
    <!--contact-->
     <div class="login-right">
        <div class="container">
                <h3>Login</h3>
                <div class="login-top">
                    <!--<ul class="login-icons">
                        <li><a href="#"><i class="facebook"> </i><span>Facebook</span></a></li>
                        <li><a href="#" class="twit"><i class="twitter"></i><span>Twitter</span></a></li>
                        <li><a href="#" class="go"><i class="google"></i><span>Google +</span></a></li>
                        <li><a href="#" class="in"><i class="linkedin"></i><span>Linkedin</span></a></li>
                        <div class="clearfix"> </div>
                    </ul>-->
                    <div class="form-info">
                        @{ var backURL = "";
                            if (Request.QueryString["returnURL"] != null)
                            {
                                backURL = Request.QueryString["returnURL"].ToString();
                            }

                        }
                        @{using (Html.BeginUmbracoForm<RealHomes.Controllers.MembershipCMSController>("Login", new { returnURL = backURL }, new { @id = "LoginForm", @class = "form-vertical", role = "form" }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left; width:300px">User Name </label>
                                    @Html.TextBoxFor(m => Model.UserName, new { id = "txtUserName", htmlAttributes = new { style = "width:300px", @class = "form-control" } })
                            
                                </div>      
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align:left; width:300px">Password </label>
                                    @Html.PasswordFor(m => Model.Password, new { id = "txtPassword", @class = "form-control" })
                                       
                                </div>
                                string sStyle = "";
                                if (TempData.ContainsKey("LoginResult"))
                                {

                                    if (TempData["LoginResult"].ToString().ToLower() == StringConstants.LOGIN_FAILURE_MSG.ToLower())
                                    {
                                        sStyle = "display:block";

                                    }

                                }
                                else
                                {
                                    sStyle = "display:none";
                                }
                                <div id="errorDiv" style="@sStyle" class="form-group">
                                    <label id="lblError" class="text-danger">@StringConstants.LOGIN_FAILURE_MSG </label>
                                </div>
                            <label class="hvr-sweep-to-right">
                                <input type="submit" value="Login">
                            </label>
                            }
                            }
                    </div>
                    <div class="create">
                        <h4>New To Real Home?</h4>
                        <a class="hvr-sweep-to-right" href="~/register">Create an Account</a>
                        <div class="clearfix"> </div>
                    </div>

                </div>
            </div>
        </div>
    }
    else
    {
        Html.RenderAction("RenderLogout", "MembershipCMS");
        //Response.Redirect("~/Logout");
    }
}

<!--//contact-->
