@inherits Umbraco.Web.Mvc.UmbracoViewPage<RealHomes.Models.AgentViewCMSModel>
@using RealHomes;
@using System.Web.Configuration;
@using RealHomes.Models;
@{

}

<script src="~/Scripts/jquery-1.12.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
<script src="~/Scripts/CMSEnquiries.js"></script>

<!--Display Image Gallery and map tabs   Html.RenderAction("GetAllValues", "AdvSearch"); -->

<div id="divGalleryContainer" class="container" style="display:none">
    <p>Image Gallery</p>
</div>
<hr />

<div id="divSummary" class="container">
    <div class="container">

        <div class="col-md-4">

            <a href="@Umbraco.Content(1095).url" class="mask">

                @{
                    try
                    {
                        //Display Images from CMS content Media library

                        if (Model.Image != null)
                        {   //Here Imge slider has to be implemented
                            //foreach (var img in item.Images)
                            //{
                            var img = Model.Image;
                    <img class="img-responsive zoom-img" src="@img.Url" alt="">
                            //}
                        }


                    }
                    catch (Exception ex) { }
                }
                    
            </a>

        </div>

        <div class="col-md-4">
            <p><b>@Html.DisplayFor(modelItem => Model.DisplayName)</b></p>
            <p>@Html.DisplayFor(modelItem => Model.JobTitle), @Html.DisplayFor(modelItem => Model.City) </p>
            <br />
            <p><b>RERA Permit No.</b> @Html.DisplayFor(modelItem => Model.ReraNo)</p>
            <p><b>Mobile No. </b>@Html.DisplayFor(modelItem => Model.MobileNo)</p>
            <p>
                <b>Properties Sold  </b>@Model.PropertiesSold
            </p>
            <p>
                <b>Properies Leased  </b>@Model.PropertiesLeased
            </p>
            <p>
                <b>Properies Rented  </b>@Model.PropertiesLeased
            </p>
            <p>
                <b>RH Experience  </b> @Model.totalExpYrs
            </p>

        </div>

        <div class="col-md-4">
            <p class="glyph-orientation-horizontal"> Save & Rate</p>
            <p>******</p>
            
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><br /></p>
            <p><a href="#">Contact Me</a></p>
               

        </div>

    </div>

</div>

<hr />

<div id="divOverView" class="container">
    <!--display OverView-->
                    
        <div class="container">
            <!--Agent Detail Overview   @*Html.Raw(@Model.Overview)*@ -->
            @Html.Raw(@Model.Overview)
        </div>
        
</div>        


<hr />

<div id ="divFooterPolicy" class="continer">

    <div><span class="footer-copy-span">&#169; Real Homes Properties 2017. All Rights Reserved</span></div>
    <div>
        <span><a class="footer-copy-span" href="~/Privacy">Privacy</a></span>
        <span>|</span>
        <span><a class="footer-copy-span" href="~/TermsOfUse">Terms of Use</a> </span>

    </div>
</div>

<hr />

<div id="Resultcontainer" class="container">

     
</div>
