@inherits Umbraco.Web.Mvc.UmbracoViewPage<RealHomes.Models.AdvSearchModel>

@using Umbraco;
<!--//header-->
<div class="container">

    <!--price-->
    <div class="price">
        <!--First row-->
        <div class="price-grid">

            <div id="txt_container" class="col-sm-8 price-top ">
                <!--  <div ng-controller="RHApi.SearchWidgetApiController">
                     <ul>
                         <li ng-repeat="location in Locations">
                             <a href="" ng-click="model.value = location.LocationName">@*{{location.LocationName}}*@</a>
                         </li>
                     </ul>
                 </div>
                 -->

                <input type="hidden" id="txtKeyword" value="Enter Location" name="bh" />
                <input type="text" id="txtKeywordLocation" spellcheck="false" maxlength="100" size="65" value="Enter location" class="new-srch-input input-lg" name="bhl" autocorrect="off" autocapitalize="off" onfocus="autoHide(this);" onblur="autoHide(this);" />

                <input type="hidden" id="txtAgentId" value="Enter Agent" name="bh" />
                <input type="text" id="txtKeywordAgent" spellcheck="false" maxlength="100" size="45" value="Search By Agent e.g. Paul Smith" class="new-srch-input input-lg" name="bha" autocapitalize="off" autocorrect="off" onfocus="autoHideAgent(this);" onblur="autoHideAgent(this);" style="display: none" />

                <input type="text" id="txtKeywordRefNo" class="new-srch-input input-lg" value="Unit Ref# e.g. HA2543" name="bhr" onfocus="autoHideRefNo(this);" onblur="autoHideRefNo(this); " style="display: none" />
                <input type="hidden" id="txtRefNo" />

            </div>
            <div id="btnSearch" class="col-sm-3 price-top">
               
                    <select id="ddlService" class="in-drop">
                        <option selected="selected" value="1">For Sale</option>
                        <option value="2">For Rent</option>
                        <option value="3">Short Stay</option>

                    </select>
              </div>
            <div id="btnSearch" class="col-sm-1 price-top">
                <!--<a onclick='javascript.void(0);' id="btnSearchRent" title="For Rent" Value="2">Search</a>-->
                <button id="btnSearch" value="2" onclick="SearchProperties();">Search</button>
                <!--<a onclick="javascript.void(0);" id="btnShortStay" title="Short Stays" Value="3">Short Stays</a>-->
                <!--<div class="clearfix"> </div>-->
            </div>

           
            <div class="clearfix"> </div>
        </div>
        <!--Second Row-->
        <div class="price-grid">
            <div class="col-sm-4 price-top">
                <select id="ddlCategory" name="" class="in-drop">
                    <option selected="selected" value="0">Service Category</option>
                    @{ 
                        foreach (var category in Model.Categories)
                        {
                            
                            <option value="@category.Value">@category.Text</option>
                        }


                    }
                </select>

            </div>

            <div class="col-sm-4 price-top">
                <select id="ddlPropertyType" class="in-drop">
                    <option selected="selected" value="0">Property Type</option>
                    @{ 
                        foreach (var type in Model.PropertyTypes)
                        {
                                <option value="@type.Value">@type.Text</option>  
                        }
                        
                    }

                </select>
            </div>

            <div class="col-sm-4 price-top">
                @*//{Html.DropDownList("ddlFacilities", Model.Facilities,"Please Select..");}*@
                <select id="ddlSearchBy" class="in-drop">

                    <option selected="selected" value="1">Search By Location</option>
                    <option value="2" disabled="disabled">Search By Ref#</option>
                    <option value="3" disabled="disabled">Search By Agent</option>
                </select>
            </div>

            <div class="clearfix"> </div>
        </div>
        <!--Third Row-->

        <div class="price-grid">
            <div class="col-sm-4 price-top">

                <select id="ddlFixtures" multiple="multiple">
                    @{ foreach (var facility in Model.Facilities)
                        {
                            <option value="@facility.Value">@facility.Text</option>
                        }


                    }
                </select>
            </div>
            <div class="col-sm-4 price-top">
                <select id="ddlViews" multiple="multiple">
                    @{ 
                        foreach (var view in Model.UnitViews)
                        {
                            <option value="@view.Value">@view.Text</option>
                        }
                    }

                </select>
            </div>
            <div class="col-sm-4 price-top">
                <select id="ddldevHold" class="in-drop">
                    <option selected="selected" value="0">Development Hold</option>
                    @{ 
                        foreach (var dh in Model.developmentHold)
                        {
                            <option value="@dh.Value">@dh.Text</option>
                        }
                    }

                </select>
            </div>

            <div class="clearfix"> </div>
        </div>


        <!--Fourth row-->
        <div class="price-grid">
            <div class="col-sm-6 price-top1">
                <ul>
                    <li>
                        <select id="ddlminPrice" class="in-drop">
                            @{ foreach (var minp in Model.minPrice)
                                {
                                    if (minp.Text.Substring(minp.Text.Length - 1, 1) == "k")
                                        {<option value='@minp.Text.Replace("k", "000")'>@minp.Text</option>}
                                    else if (minp.Text.Substring(minp.Text.Length - 1, 1) == "m")
                                        { <option value = '@minp.Text.Replace("m","000000")' > @minp.Text </option>}
                                    else
                                    {<option value='@minp.Text'> @minp.Text </option>}
                                }
                            }

                        </select>
                    </li>
                    <span>-</span>
                    <li>
                        <select id="ddlmaxPrice" class="in-drop">
                            @{ foreach (var maxp in Model.maxPrice)
                                {
                                    if (maxp.Text.Substring(maxp.Text.Length - 1, 1) == "k")
                                    {
                                        <option value='@maxp.Text.Replace("k", "000")'>@maxp.Text</option>}
                                    else if (maxp.Text.Substring(maxp.Text.Length - 1, 1) == "m")
                                    {
                                        <option value='@maxp.Text.Replace("m","000000")'> @maxp.Text </option>}
                                    else
                                    {
                                        <option value='@maxp.Text'> @maxp.Text </option>}
                                }
                            }

                        </select>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6 price-top1">
                <ul>
                    <li>
                        <select id="ddlminBed" class="in-drop">
                            @{ foreach (var minb in Model.minBeds)
                                {
                                    <option value="@minb.Value">@minb.Text</option>
                                }
                            }

                        </select>
                    </li>
                    <span>-</span>
                    <li>
                        <select id="ddlmaxBed" class="in-drop">
                            @{ foreach (var maxb in Model.maxBeds)
                                {
                                    <option value="@maxb.Value">@maxb.Text</option>
                                }
                            }

                        </select>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!---->

</div>



