@inherits Umbraco.Web.Mvc.UmbracoViewPage<RealHomes.Models.AgentSearchModel>

@using Umbraco;


<div class="container">

    <!--price-->
    <div class="price">
        <!--First row-->
        <div class="price-grid">

            <div id="txt_container" class="col-sm-8 price-top ">
               
                <input type="hidden" id="txtAgentId" value="Enter Agent" name="bh" />
                <input type="text" id="txtKeywordAgent" spellcheck="false" maxlength="100" size="70" value="Search By Agent e.g. Paul Smith" class="new-srch-input input-lg" name="bha" autocapitalize="off" autocorrect="off" onfocus="autoHideAgent(this);" onblur="autoHideAgent(this);" />

            </div>

            <div id="btnSearch" class="col-sm-2 price-top">
                <!--<a onclick='javascript.void(0);' id="btnSearchRent" title="For Rent" Value="2">Search</a>-->
                <button id="btnSearch" class="ui-icon-search" value="2" onclick="SearchAgents();"> Search </button>
                <!--<a onclick="javascript.void(0);" id="btnShortStay" title="Short Stays" Value="3">Short Stays</a>-->
                <!--<div class="clearfix"> </div>-->
            </div>
            
            <div class="clearfix"> </div>
        </div>
        
        <!--Second Row-->
        <div class="price-grid">
            <div class="col-sm-3">
                <select id="ddlCategory" name="" class="in-drop">
                    <option selected="selected" value="0">Service Category</option>
                    @{
                        foreach (var category in Model.Categories)
                        {

                            <option value="@category.Value">@category.Text</option>
                        }


                    }
                </select>

            </div>

            <div class="col-sm-3 ">
                <select id="ddlPropertyType" class="in-drop">
                    <option selected="selected" value="0">Service</option>
                    @{
                        foreach (var type in Model.Services)
                        {
                            <option value="@type.Value">@type.Text</option>
                        }

                    }

                </select>
            </div>

            <div class="col-sm-3">
                <select id="ddlPropertyType" class="in-drop">
                    <option selected="selected" value="0">City</option>
                    @{
                        foreach (var type in Model.Cities)
                        {
                            <option value="@type.Value">@type.Text</option>
                        }

                    }

                </select>
            </div>
           
            <div class="clearfix"> </div>
        </div>
       
        <hr />

        <div class="price-grid">
            <div class="col-sm-2">
                <a href="#" class="glyphicon-search"> Advanced Search</a>
            </div>
            <div class="col-sm-2">
                <a href="~/propertysearch" class="glyphicon-search"> Search Properties</a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="glyphicon-map-marker"> Map Search</a>
            </div>
            <div class="col-sm-2">
                <a href="#" class="glyphicon-map-marker"> New Projects</a>
            </div>
        </div>
             

       
    </div>
   
</div>





