
@inherits UmbracoViewPage



<!--/banner/-->
<div class="header-right">
    <div class="banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="caption">
                                <h3><span>@Umbraco.Field("mainHeading", casing: RenderFieldCaseType.Upper)</span></h3>
                                <p>@Umbraco.Field("subTitle")</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner2">
                            <div class="caption">
                                <h3><span>@Umbraco.Field("mainHeading", casing: RenderFieldCaseType.Upper)</span></h3>
                                <p>@Umbraco.Field("subtitle")</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="banner3">
                            <div class="caption">
                                <h3><span>@Umbraco.Field("mainHeading", casing: RenderFieldCaseType.Upper)</span></h3>
                                <p>@Umbraco.Field("subtitle")</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--banner end-->
<!--header-bottom-->
<div class="banner-bottom-top">
    <div class="container">
        <div class="bottom-header">

            <div class="header-bottom">
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="buy"> </i>
                            <h6>Buy</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="rent"> </i>
                            <h6>Rent</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="sell"> </i>
                            <h6>Sell</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="deal"> </i>
                            <h6>Landlords</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="loan.html">
                        <div class="buy-media">
                            <i class="loan"> </i>
                            <h6>Property Management</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="buy.html">
                        <div class="buy-media">
                            <i class="apart"> </i>
                            <h6>Holiday Homes</h6>
                        </div>
                    </a>
                </div>
                <div class=" bottom-head">
                    <a href="dealers.html">
                        <div class="buy-media">
                            <i class="map"> </i>
                            <h6>Off Plans</h6>
                        </div>
                    </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>
<!--//header-bottom-->
