@using Umbraco.Core.Models
@using Umbraco.Web.Models
@using System.Collections.Generic
@using RealHomes.Models;
@inherits UmbracoViewPage

<script>

    jQuery(document).ready(function () {

        LocationAutoComplete($("#txtLocation"), $("#txtKeyword"));
       
    })

    function Search()
    {
        var location = jQuery("#txtKeyword").val();
        var url = '';
        window.location = 'propertysearch' + '?location=' + location;

    }
    function SearchAgents()
    {
        window.location = 'agentsearch';
    }
</script>
<!--/banner/-->
<div class="header-right">
    <!-- Slider banner-->
    <div class="banner">
        <div class="slider">
            <div class="callbacks_container">
                <ul class="rslides" id="slider">
                    <li>
                        <div class="banner1">
                            <div class="caption">
                                <h3><span>@Umbraco.Field("mainHeading", casing: RenderFieldCaseType.Upper)</span></h3>
                                <p>@Umbraco.Field("editor")</p>
                                <input type="hidden" id="txtKeyword" value="Enter Location"/> 
                                <input type="text" id="txtLocation" spellcheck="false" maxlength="100" size="60" placeholder="Enter Location" class="new-srch-input input-lg" name="bha" autocapitalize="off" autocorrect="off" />
                                    <label class="hvr-sweep-to-right ">
                                        <input type="button" value="Search Properties" style="height:40px" onclick="Search()"/>
                                         
                                    </label>
                               
                                    <label class="hvr-sweep-to-right ">
                                        <input type="button" value="Search Agents" style="height:40px" onclick="SearchAgents()" />
                                        
                                    </label>
                                
                            </div>
                        </div>
                    </li>
                   
                </ul>
            </div>
        </div>
    </div>

    

    

</div>
<!--banner end-->
<!--header-bottom-->
 @{ IEnumerable<RelatedLink> menuLinks = Umbraco.AssignedContentItem.GetPropertyValue<IEnumerable<RelatedLink>>("menuLinks");


     if (menuLinks != null && (int)menuLinks.Count() > 0)
     {


<div class="banner-bottom-top">
    <div class="container">
        <div class="bottom-header">

            <div class="header-bottom">
                @*get the corresponding Icon of each menu item by cocatenating it in the names of menuicon properties*@
                @{
                    int i = 1;
                    string sIcon = ""; ;
                    foreach (RelatedLink link in @menuLinks)
                    {
                        <div class="bottom-head">
                            <a href="@link.Link">
                                <div class="buy-media">
                                     @{sIcon = "m" + i.ToString() + "Icon";}
                                    <i class="@Umbraco.AssignedContentItem.GetPropertyValue(@sIcon)"> </i>
                                    <h6>@link.Caption</h6>
                                    @{i = i + 1;}
                                </div>
                            </a>
                        </div>
                        }
                    }
               
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>

         }
     }
<!--//header-bottom-->
