@inherits Umbraco.Web.Mvc.UmbracoViewPage


<!--service-->
<div class="services">
    <div class="container">
        <div class="service-top">
            @Umbraco.Field("serviceMainTitle", insertBefore: "<h3>", insertAfter: "</h3>", casing: RenderFieldCaseType.Upper)
            @Umbraco.Field("serviceSubTitle", insertBefore: "<p>", insertAfter: "</p>")
        </div>
        <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-user"> </a>
                </div>
                <div class="ser-top">
                    <h4>@Umbraco.Field("serviceTitle1")</h4>
                    <p>
                        @Umbraco.Field("serviceDescription1")
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-leaf"> </a>
                </div>
                <div class="ser-top">
                    <h4>@Umbraco.Field("serviceTitle2")</h4>
                    <p>
                        @Umbraco.Field("serviceDescription")
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="services-grid">
            <div class="col-md-6 service-top1">
                <div class=" ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-cog"> </a>
                </div>
                <div class="ser-top">
                    <h4>@Umbraco.Field("serviceTitle3")</h4>
                    <p>
                        @Umbraco.Field("serviceDescription3")
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-6 service-top1">
                <div class="ser-grid">
                    <a href="#" class="hi-icon hi-icon-archive glyphicon glyphicon-file"> </a>
                </div>
                <div class="ser-top">
                    <h4>@Umbraco.Field("serviceTitle4")</h4>
                    <p>
                        @Umbraco.Field("serviceDescription4")
                    </p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--//services-->
